body {
    margin: 0 auto;
}

header {
    width: 100%;
    height: 50px;
    background: rgba(70, 70, 70, 0.8);
    border-bottom: 5px solid #9C0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.header-logo-left {
    color: #EA1D1D;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-logo-right {
    color: #CCC;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-buts-right {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: none;
    border: none;
    transition: 0.25s;
    cursor: pointer;
}

.header-buts-right:hover {
    color: #9C0000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: none;
    border: none;
}

.header-buts-right-cab {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 13.035px;
    background: #9C0000;
    width: 180px;
    height: 45px;
    transition: 0.25s;
    cursor: pointer;
    border: none;
}

.header-buts-right-cab:hover {
    color: #464646;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 13.035px;
    background: #9C0000;
    width: 180px;
    height: 45px;
}

.main-head-block {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-head-text {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.main-head-hr-top {
    width: 250px;
    height: 5px;
    background: #FFF;
}

.main-head-hr-bot {
    width: 130px;
    height: 5px;
    background: #FFF;
}

main {
    width: 100%;
    height: 963px;
    background-image: url('images/order-nomber.png');
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 897px;
}

.main-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
}

.main-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}

.main-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 130px;
}

.main-head {
    color: #FFF;
    text-shadow: 6.951999664306641px 3.4759998321533203px 3.4759998321533203px rgba(0, 0, 0, 0.70);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    width: 800px;
}

.main-text {
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    line-height: 43.45px;
    /* 156.25% */
    width: 1000px;
}

.main-number {
    color: #333;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 320px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    border: none;
}

input::placeholder {
    padding-left: 20px;
}

.main-number-but {
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: #9C0000;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.main-number-but:hover {
    color: #464646;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: #9C0000;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.promo-middle {
    width: 100%;
    height: 926.35px;
    background-image: url('images/promo-middle.png');
    background-repeat: no-repeat;
    position: relative;
}

.promo-middle-main {
    width: 90%;
    height: 850px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.promo-middle-container {
    width: 600px;
    height: 300px;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.promo-middle-text-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.promo-left {
    width: 100%;
    height: 926.35px;
    background-image: url('images/promo-left.png');
    background-repeat: no-repeat;
    position: relative;
}

.promo-left-main {
    width: 90%;
    height: 850px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.promo-left-container {
    width: 600px;
    height: 300px;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.promo-left-text-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.promo-right {
    width: 100%;
    height: 926.35px;
    background-image: url('images/promo-right.png');
    background-repeat: no-repeat;
    position: relative;
}

.promo-right-main {
    width: 90%;
    height: 850px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.promo-right-container {
    width: 600px;
    height: 300px;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.promo-right-text-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 130px;
}

.promo-container-head-top {
    color: #FFF;
    text-shadow: 4.34499979019165px 3.4759998321533203px 3.4759998321533203px rgba(0, 0, 0, 0.80);
    font-family: Raleway;
    font-size: 23.463px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.promo-container-head-bottom {
    color: rgba(245, 245, 245, 0.85);
    text-shadow: 4.34499979019165px 3.4759998321533203px 3.4759998321533203px rgba(0, 0, 0, 0.80);
    font-family: Raleway;
    font-size: 30.415px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.promo-container-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19.118px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    width: 525px;
}

.promo-container-but {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Raleway;
    font-size: 17.38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 240px;
    height: 55px;
    background: #9C0000;
    box-shadow: 0px 3.476px 3.476px 0px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.promo-container-but:hover {
    color: #464646;
    text-align: center;
    font-family: Raleway;
    font-size: 17.38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 240px;
    height: 55px;
    background: #9C0000;
    box-shadow: 0px 3.476px 3.476px 0px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.arrow-left {
    background: none;
    border: none;
    position: absolute;
    top: 450px;
    left: 70px;
    cursor: pointer;
}

.arrow-right {
    background: none;
    border: none;
    position: absolute;
    top: 450px;
    right: 70px;
    cursor: pointer;
}

.features {
    width: 100%;
    height: 986px;
}

.features-top {
    width: 100%;
    height: 493px;
    display: flex;
}

.features-top-left {
    width: 50%;
    height: 493px;
    background-image: url('images/features-top-left.png');
    background-repeat: no-repeat;
}

.features-top-right {
    width: 50%;
    height: 493px;
    background: #9B0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-container {
    width: 637px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.features-container-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-bot {
    width: 100%;
    height: 493px;
    display: flex;
}

.features-bot-left {
    width: 50%;
    height: 493px;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-bot-right {
    width: 50%;
    height: 493px;
    background-image: url('images/features-bot-right.png');
    background-repeat: no-repeat;
}

.features-title-head {
    color: #D8D8D8;
    text-shadow: 3.793px 3.035px 3.035px rgba(0, 0, 0, 0.80);
    font-family: Raleway;
    font-size: 49.311px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.features-title-bot {
    color: rgba(245, 245, 245, 0.85);
    text-shadow: 3.793px 3.035px 3.035px rgba(0, 0, 0, 0.80);
    font-family: Raleway;
    font-size: 64.484px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.features-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    width: 540px;
    line-height: 32px;
}

.features-but {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Raleway;
    font-size: 17.38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 240px;
    height: 55px;
    background: #4f4f4f;
    box-shadow: 0px 3.476px 3.476px 0px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.features-but:hover {
    color: #9b0000;
    text-align: center;
    font-family: Raleway;
    font-size: 17.38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 240px;
    height: 55px;
    background: #4f4f4f;
    box-shadow: 0px 3.476px 3.476px 0px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.trust {
    width: 100%;
    height: 986px;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trust-container {
    width: 100%;
    height: 986px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.trust-main {
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.trust-main-align-left {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.trust-main-align-left-left {
    width: 610px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.trust-main-align-left-middle {
    width: 100px;
    height: 100px;
}

.trust-main-align-left-right {
    width: 610px;
    height: 85px;
}

.trust-main-align-right {
    width: 75%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.trust-main-align-right-left {
    width: 610px;
    height: 85px;
}

.trust-main-align-right-middle {
    width: 100px;
    height: 100px;
}

.trust-main-align-right-right {
    width: 610px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.trust-head {
    color: rgba(245, 245, 245, 0.85);
    text-shadow: 4.345px 3.476px 3.476px rgba(0, 0, 0, 0.80);
    font-family: Raleway;
    font-size: 42.14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.trust-text-top {
    color: #6187BF;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.trust-text-bot {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 610px;
}

.demo-services {
    width: 100%;
    height: 986px;
    display: flex;
    align-items: center;
    background: #333333;
    border-top: 5px solid #6187BF;
}

.demo-services-container {
    width: 100%;
    height: 986px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.demo-services-main {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demo-services-main-left {
    width: 380px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.demo-services-main-right {
    width: 380px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.demo-services-block {
    width: 380px;
    height: 290px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.demo-services-head {
    display: flex;
    width: 530px;
}

.demo-services-head-left {
    color: #EA1D1D;
    text-align: center;
    font-family: Raleway;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 200px;
    width: 250px;
}

.demo-services-head-right {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 280px;
}

.demo-services-text {
    color: #333;
    text-align: center;
    font-family: Inter;
    font-size: 15.206px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer {
    width: 100%;
    height: 350px;
    background: #151515;
    border-top: 5px solid #9C0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 90%;
    height: 350px;
    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    width: 33%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-middle {
    width: 33%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footer-right {
    width: 33%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer-middle-top {
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.footer-middle-bot {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-right-bot {
    display: flex;
    justify-content: space-between;
    width: 390px;
}

.footer-logo-left {
    color: #EA1D1D;
    font-family: Raleway;
    font-size: 34.76px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-logo-right {
    color: #CCC;
    font-family: Raleway;
    font-size: 34.76px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-middle-text {
    color: #525252;
    font-family: Inter;
    font-size: 24.332px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.footer-right-text {
    color: #525252;
    font-family: Raleway;
    font-size: 24.332px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.modal-authorization {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-authorization-container {
    width: 700px;
    height: 750px;
    border-radius: 50px;
    background: #B7B7B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal-authorization-email {
    width: 550px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    fill: #D9D9D9;
    padding-left: 30px;
    color: #ABABAB;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-authorization-password {
    width: 550px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #B7B7B7;
    fill: #D9D9D9;
    padding-left: 30px;
    color: #ABABAB;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

#modal-authorization-input::placeholder {
    color: #ABABAB;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    width: 480px;
    border-bottom: 2px solid #ababab;
}

.modal-head {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.modal-authorization-checkbox {
    width: 25px;
    height: 25px;
}

.modal-authorization-checkbox-text {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-authorization-log-in {
    color: #FFF;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

.modal-authorization-log-in:hover {
    color: #858585;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

.modal-authorization-create-account {
    color: #FFF;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

.modal-authorization-create-account:hover {
    color: #858585;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
}

.forgot-your-password {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    transition: 0.25s;
}

.forgot-your-password:hover {
    color: #464646;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

/* Запись на услуги */
.modal-services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-services-container {
    width: 700px;
    height: 750px;
    border-radius: 50px;
    background: #B7B7B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal-authorization-services {
    width: 550px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    fill: #D9D9D9;
    padding-left: 30px;
    color: #ABABAB;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-authorization-master {
    width: 550px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    fill: #D9D9D9;
    padding-left: 30px;
    color: #ABABAB;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-authorization-date {
    width: 550px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    fill: #D9D9D9;
    padding-left: 30px;
    color: #ABABAB;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-services-log-in {
    color: #FFF;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

.modal-services-log-in:hover {
    color: #858585;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}