.modal-authorization {
    position: absolute;
    top: 10%;
    left: 35%;
    display: none;
    align-items: center;
    justify-content: center;
}

.bg_fon {
    display: none;
    position: absolute;
    width: 1920px;
    height: 1100px;
    background-color: rgba(104, 103, 103, 0.795);
}

.modal-authorization-container {
    width: 700px;
    height: 750px;
    border-radius: 50px;
    background: #B7B7B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal-authorization-email {
    width: 550px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    fill: #D9D9D9;
    padding-left: 30px;
    color: #ABABAB;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-authorization-password {
    width: 550px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #B7B7B7;
    fill: #D9D9D9;
    padding-left: 30px;
    color: #ABABAB;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

#modal-authorization-input::placeholder {
    color: #ABABAB;
    font-family: Inter;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    width: 480px;
    border-bottom: 2px solid #ababab;
}

.modal-authorization-head {
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.modal-authorization-checkbox {
    width: 25px;
    height: 25px;
}

.modal-authorization-checkbox-text {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.modal-authorization-log-in {
    color: #FFF;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

.modal-authorization-log-in:hover {
    color: #858585;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

.modal-authorization-create-account {
    color: #FFF;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
    transition: 0.25s;
}

.modal-authorization-create-account:hover {
    color: #858585;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 550px;
    height: 60px;
    border-radius: 50px;
    background: #9C0000;
    cursor: pointer;
    border: none;
}

.forgot-your-password {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    transition: 0.25s;
}

.forgot-your-password:hover {
    color: #464646;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}