.bg_gon {
    display: none;
    width: 1920px;
    height: 2500px;
    background-color: rgba(104, 103, 103, 0.795);
}

#bg_fon_reg {
    display: none;
    position: absolute;

    z-index: 1;
}

.registration {
    position: relative;
    top: 10%;
    display: none;
    margin: 0 auto;
    width: 763px;
    height: 737px;
    border-radius: 80px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.registration_name,
.registration_age,
.registration_surname,
.registration_email,
.registration_password {
    width: 630px;
    height: 60px;
    background-color: rgba(202, 202, 202, 1);
    border: none;
    border-radius: 50px;
    padding-left: 45px;
    margin: 0 auto;
}

.registration_approval {

    width: 31px;
    height: 34px;
    margin-left: 10px;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.record {
    width: 300px;
    height: 60px;
    border-radius: 35px;
    background-color: rgba(123, 7, 27, 1);
    border: none;
    color: white;
    text-align: center;
    font-family: Fira Code;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.72px;
    transition: 1s;
}

.record:hover {
    background-color: rgb(102, 22, 35);
    transition: 1s;
}

.submit {
    display: flex;
    justify-content: center;
}

.close {
    padding-top: 10px;
    align-items: center;
}

.registration_title {
    width: 590px;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}

.registration_title_close {
    display: flex;
    align-items: center;
}